@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

@theme {
  --color-fd-primary: hsl(174, 80%, 32%);
  --color-fd-primary-foreground: hsl(0, 0%, 100%);
}

.dark {
  --color-fd-primary: hsl(174, 65%, 50%);
  --color-fd-primary-foreground: hsl(0, 0%, 5%);
}